{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Edit User</h2>

<div class="card shadow-sm">

    <div class="card-body">

        <form method="POST">

            {% csrf_token %}

            <div class="mb-3">

                <label class="form-label">Username</label>

                <input
                    type="text"
                    class="form-control"
                    value="{{ user_obj.username }}"
                    disabled>

            </div>

            <div class="mb-3">

                <label class="form-label">Role</label>

                <select
                    name="group"
                    class="form-select">

                    <option value="">No Group</option>

                    {% for group in groups %}

                    <option
                        value="{{ group.name }}"
                        {% if group in user_obj.groups.all %}selected{% endif %}>

                        {{ group.name }}

                    </option>

                    {% endfor %}

                </select>

            </div>

            <div class="form-check mb-4">

                <input
                    class="form-check-input"
                    type="checkbox"
                    name="is_active"
                    {% if user_obj.is_active %}checked{% endif %}>

                <label class="form-check-label">

                    Active Account

                </label>

            </div>

            <button class="btn btn-success">

                Save Changes

            </button>

        </form>

    </div>

</div>

{% endblock %}