<h4 class="text-center text-white mt-4">
    <i class="bi bi-building"></i>
    TalentHub
</h4>

<hr class="text-white">

{% if user.is_authenticated %}

    <!-- ADMIN -->
    {% if user.is_superuser %}

        <a href="/"><i class="bi bi-speedometer2"></i> Dashboard</a>
        <a href="/recruitment/"><i class="bi bi-briefcase-fill"></i> Recruitment</a>
        <a href="/employees/"><i class="bi bi-people-fill"></i> Employees</a>
        <a href="/attendance/"><i class="bi bi-calendar-check-fill"></i> Attendance</a>
        <a href="/leave/"><i class="bi bi-airplane-fill"></i> Leave</a>
        <a href="/performance/"><i class="bi bi-graph-up-arrow"></i> Performance</a>
        <a href="/documents/"><i class="bi bi-folder-fill"></i> Documents</a>
        <a href="/reports/"><i class="bi bi-bar-chart-fill"></i> Reports</a>

    {% elif user.groups.all.0.name == "HR Manager" %}

        <a href="/"><i class="bi bi-speedometer2"></i> Dashboard</a>
        <a href="/employees/"><i class="bi bi-people-fill"></i> Employees</a>
        <a href="/attendance/"><i class="bi bi-calendar-check-fill"></i> Attendance</a>
        <a href="/leave/"><i class="bi bi-airplane-fill"></i> Leave</a>
        <a href="/performance/"><i class="bi bi-graph-up-arrow"></i> Performance</a>
        <a href="/documents/"><i class="bi bi-folder-fill"></i> Documents</a>
        <a href="/reports/"><i class="bi bi-bar-chart-fill"></i> Reports</a>

    {% elif user.groups.all.0.name == "Recruiter" %}

        <a href="/"><i class="bi bi-speedometer2"></i> Dashboard</a>
        <a href="/recruitment/"><i class="bi bi-briefcase-fill"></i> Recruitment</a>

    {% elif user.groups.all.0.name == "Employee" %}

        <a href="/"><i class="bi bi-speedometer2"></i> Dashboard</a>
        <a href="/attendance/"><i class="bi bi-calendar-check-fill"></i> Attendance</a>
        <a href="/leave/"><i class="bi bi-airplane-fill"></i> Leave</a>
        <a href="/documents/"><i class="bi bi-folder-fill"></i> Documents</a>

    {% elif user.groups.all.0.name == "Candidate" %}

        <a href="/"><i class="bi bi-speedometer2"></i> Dashboard</a>
        <a href="/recruitment/"><i class="bi bi-briefcase-fill"></i> Available Jobs</a>

    {% endif %}

    <a href="/logout/">
        <i class="bi bi-box-arrow-right"></i> Logout
    </a>

{% else %}

    <a href="/login/">
        <i class="bi bi-box-arrow-in-right"></i> Login
    </a>

    <a href="/register/">
        <i class="bi bi-person-plus-fill"></i> Register
    </a>

{% endif %}